body{
    text-align: center;
}
form{
    /* border: 2px solid; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 150px;
    width: 30%;
    height: 400px;
    /* margin-left: 500px; */
}
#main{
   padding-top: 60px;
    /* margin-left: 40px; */
}